
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* WebKit-browsers (Chrome, Safari, Opera) */
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}